# Python virtual environment locations
/venv/

# IDE Configs
/.idea/

# Development artifacts
*.pyc
/dist

# OS funny business
.DS_Store

# Temporary file locations
/_temp/
temp_file.yml
temp_file2.yml
